@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
body {
  margin: 0;
  padding: 0;
}

#lp-tadasu {
  max-width: 753px;
  margin: 0 auto;
  overflow-x: hidden;
}

.header {
  background: url(../images/header/header-bg.png) no-repeat;
  background-position: top;
  background-size: 100%;
}
.header-container {
  padding-bottom: 266px;
}
.header-top {
  padding: 30px 24px 0 33px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 166px;
}
.header-content img:nth-of-type(3) {
  margin-left: 40px;
  margin-top: -12px;
}
.header-content a {
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.point {
  margin-top: -215px;
}
.point-top {
  position: relative;
}
.point-top-content {
  position: absolute;
  top: 68%;
  transform: translateY(-50%);
  text-align: center;
}
.point-content {
  padding-top: 125px;
  padding-bottom: 300px;
  background: #FFFDEE;
  text-align: center;
}
.point-content > img:first-child {
  margin-bottom: 54px;
}
.point-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.point-content ul li p {
  margin: 0;
  padding: 0 56px;
  color: #373445;
  text-align: justify;
  font-family: "Noto Sans JP";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0.24px;
}
.point-content ul li:first-child {
  margin-bottom: 66px;
}
.point-content ul li:first-child .point-item-imgs {
  position: relative;
  text-align: right;
  margin-bottom: 28px;
}
.point-content ul li:first-child .point-item-imgs img:nth-of-type(2) {
  position: absolute;
  left: 19px;
  top: 47%;
  transform: translateY(-50%);
}
.point-content ul li:first-child .point-item-imgs img:nth-of-type(3) {
  position: absolute;
  left: -34px;
  bottom: 98px;
}
.point-content ul li:first-child .point-item-imgs img:last-child {
  position: absolute;
  left: -34px;
  bottom: 16px;
}
.point-content ul li:nth-of-type(2) {
  margin-bottom: 70px;
  position: relative;
  text-align: left;
}
.point-content ul li:nth-of-type(2) .point-item-imgs {
  margin-bottom: 18px;
}
.point-content ul li:nth-of-type(2) .point-item-imgs img:nth-of-type(2) {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
.point-content ul li:nth-of-type(2) .point-item-imgs img:last-child {
  position: absolute;
  right: -38px;
  bottom: 152px;
}
.point-content ul li:nth-of-type(3) {
  margin-bottom: 72px;
  text-align: right;
}
.point-content ul li:nth-of-type(3) .point-item-imgs {
  position: relative;
  margin-bottom: 22px;
}
.point-content ul li:nth-of-type(3) .point-item-imgs img:nth-of-type(2) {
  position: absolute;
  left: 15px;
  top: 61%;
  transform: translateY(-50%);
}
.point-content ul li:nth-of-type(3) .point-item-imgs img:last-child {
  position: absolute;
  left: -21px;
  bottom: 32px;
}
.point-content ul li:nth-of-type(4) {
  position: relative;
  text-align: left;
}
.point-content ul li:nth-of-type(4) .point-item-imgs {
  margin-bottom: 18px;
}
.point-content ul li:nth-of-type(4) .point-item-imgs img:nth-of-type(2) {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
.point-content ul li:nth-of-type(4) .point-item-imgs img:last-child {
  position: absolute;
  right: -38px;
  bottom: 152px;
}

.improve {
  margin-top: -183px;
  position: relative;
  z-index: 2;
}
.improve-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.improve-content img:first-child {
  padding-top: 92px;
  margin-left: 47px;
}
.improve-content img:nth-of-type(2) {
  margin-left: 50px;
  margin-top: -43px;
  margin-bottom: 21px;
}
.improve-content img:nth-of-type(3) {
  float: right;
  clear: both;
}
.improve-content img:nth-of-type(4) {
  margin-top: -207px;
  margin-bottom: 30px;
}
.improve-content p {
  margin: 0 44px;
  color: #FFF;
  font-family: "Noto Sans JP";
  font-size: 26px;
  font-weight: 300;
  line-height: 49px;
  letter-spacing: 1.56px;
}
.improve-content p span {
  letter-spacing: -6.24px;
}

.anshin {
  position: relative;
  z-index: 1;
  margin-top: -74px;
  background: #FFFDEE;
}
.anshin-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.anshin-content img:first-child {
  display: block;
  padding-top: 128px;
  margin-left: 42px;
}
.anshin-content img:nth-of-type(2) {
  margin-top: -57px;
  margin-left: -26px;
  margin-bottom: 20px;
}
.anshin-content p {
  margin: 0 0 78px 51px;
  color: #373445;
  font-family: "Noto Sans JP";
  font-size: 26px;
  font-weight: 400;
  line-height: 49px;
  letter-spacing: 1.82px;
}
.anshin-content p span:nth-of-type(1) {
  letter-spacing: -8.06px;
}
.anshin-content p span:nth-of-type(2) {
  letter-spacing: -9.1px;
}
.anshin-content img:last-child {
  float: right;
  clear: both;
  margin-right: -30px;
}

.footer-container {
  text-align: center;
}
.footer-container img:first-child {
  margin-bottom: 72px;
  display: flex;
  justify-content: flex-start;
}
.footer-container img:nth-child(2) {
  margin-bottom: 70px;
}
.footer-container .map {
  width: 641px;
  height: 374px;
  margin: 0 auto 44px auto;
}
.footer-container .map iframe {
  width: 100%;
  height: 100%;
}
.footer-container img:nth-of-type(3) {
  margin-bottom: 97px;
}

.about {
  background: linear-gradient(162deg, #417571 17.5%, #CBCAA5 99.38%);
}
.about-container {
  position: relative;
  text-align: center;
}
.about-container img:first-child {
  margin-bottom: 57px;
}

/*# sourceMappingURL=lp-custom.css.map */
