@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
body {
  margin: 0;
  padding: 0;
}

@keyframes shine {
  100% {
    left: 125%;
  }
}
.btnshine {
  position: relative;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  outline: none;
  overflow: hidden;
}

.btnshine::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -75%;
  width: 50%;
  height: 91%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  transform: skewX(-25deg);
}

.btnshine::before {
  animation: shine 1.5s infinite;
}

#lp-tadasu {
  max-width: 753px;
  margin: 0 auto;
  overflow-x: hidden;
}
#lp-tadasu .header {
  background: url(../images/header/header-bg.webp) no-repeat;
  background-position: top;
  background-size: 100%;
}
#lp-tadasu .header-container {
  padding-bottom: 266px;
}
#lp-tadasu .header-top {
  padding: 30px 5px 0 33px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 170px;
}
#lp-tadasu .header-top .header-btn img {
  margin-top: -6px;
}
#lp-tadasu .header-top .header-btn.btnshine::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 83%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  transform: skewX(-25deg);
}
#lp-tadasu .header-content > img {
  margin-left: -15px;
}
#lp-tadasu .header-content .cta-btn {
  text-decoration: none;
  display: flex;
  justify-content: center;
}
#lp-tadasu .point {
  margin-top: -215px;
}
#lp-tadasu .point-top {
  position: relative;
}
#lp-tadasu .point-top img:first-child {
  display: block;
}
#lp-tadasu .point-top img:last-child {
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
#lp-tadasu .point-content {
  padding-bottom: 300px;
  background: #FFFDEE;
  text-align: center;
}
#lp-tadasu .point-content > img:first-child {
  margin-bottom: 54px;
}
#lp-tadasu .point-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#lp-tadasu .point-content ul li p {
  margin: 0;
  padding: 0 56px;
  color: #373445;
  text-align: justify;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0.24px;
}
#lp-tadasu .point-content ul li:first-child {
  margin-bottom: 66px;
}
#lp-tadasu .point-content ul li:first-child .point-item-imgs {
  position: relative;
  text-align: right;
  margin-bottom: 28px;
}
#lp-tadasu .point-content ul li:first-child .point-item-imgs img:nth-of-type(2) {
  position: absolute;
  left: 19px;
  top: 47%;
  transform: translateY(-50%);
}
#lp-tadasu .point-content ul li:first-child .point-item-imgs img:nth-of-type(3) {
  position: absolute;
  left: -34px;
  bottom: 98px;
}
#lp-tadasu .point-content ul li:first-child .point-item-imgs img:last-child {
  position: absolute;
  left: -34px;
  bottom: 16px;
}
#lp-tadasu .point-content ul li:nth-of-type(2) {
  margin-bottom: 70px;
  position: relative;
  text-align: left;
}
#lp-tadasu .point-content ul li:nth-of-type(2) .point-item-imgs {
  margin-bottom: 14px;
}
#lp-tadasu .point-content ul li:nth-of-type(2) .point-item-imgs img:nth-of-type(2) {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
#lp-tadasu .point-content ul li:nth-of-type(2) .point-item-imgs img:last-child {
  position: absolute;
  right: -38px;
  bottom: 147px;
}
#lp-tadasu .point-content ul li:nth-of-type(2) p {
  letter-spacing: 0;
}
#lp-tadasu .point-content ul li:nth-of-type(3) {
  margin-bottom: 72px;
  text-align: right;
}
#lp-tadasu .point-content ul li:nth-of-type(3) .point-item-imgs {
  position: relative;
  margin-bottom: 26px;
}
#lp-tadasu .point-content ul li:nth-of-type(3) .point-item-imgs img:nth-of-type(2) {
  position: absolute;
  left: 15px;
  top: 61%;
  transform: translateY(-50%);
}
#lp-tadasu .point-content ul li:nth-of-type(3) .point-item-imgs img:last-child {
  position: absolute;
  left: -21px;
  bottom: 27px;
}
#lp-tadasu .point-content ul li:nth-of-type(4) {
  position: relative;
  text-align: left;
}
#lp-tadasu .point-content ul li:nth-of-type(4) .point-item-imgs {
  margin-bottom: 16px;
}
#lp-tadasu .point-content ul li:nth-of-type(4) .point-item-imgs img:nth-of-type(2) {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
#lp-tadasu .point-content ul li:nth-of-type(4) .point-item-imgs img:last-child {
  position: absolute;
  right: -38px;
  bottom: 148px;
}
#lp-tadasu .improve {
  margin-top: -180px;
  background: #FFFDEE;
}
#lp-tadasu .improve-container {
  position: relative;
  z-index: 2;
}
#lp-tadasu .improve-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
#lp-tadasu .improve-content img:first-child {
  padding-top: 92px;
  margin-left: 47px;
}
#lp-tadasu .improve-content img:nth-of-type(2) {
  margin-left: 50px;
  margin-top: -43px;
  margin-bottom: 21px;
}
#lp-tadasu .improve-content img:nth-of-type(3) {
  float: right;
  clear: both;
}
#lp-tadasu .improve-content img:nth-of-type(4) {
  margin-top: -207px;
  margin-bottom: 30px;
}
#lp-tadasu .improve-content p {
  margin: 0 44px;
  color: #FFF;
  font-family: "Noto Sans JP";
  font-size: 26px;
  font-weight: 300;
  line-height: 49px;
  letter-spacing: 1.56px;
}
#lp-tadasu .improve-content p span {
  letter-spacing: -6.24px;
}
#lp-tadasu .anshin {
  margin-top: -74px;
  background: #FFFDEE;
}
#lp-tadasu .anshin-container {
  position: relative;
  z-index: 1;
}
#lp-tadasu .anshin-container > img {
  display: block;
}
#lp-tadasu .anshin-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
#lp-tadasu .anshin-content img:first-child {
  display: block;
  padding-top: 128px;
  margin-left: 42px;
}
#lp-tadasu .anshin-content img:nth-of-type(2) {
  margin-top: -57px;
  margin-left: -26px;
  margin-bottom: 20px;
}
#lp-tadasu .anshin-content p {
  margin: 0 0 77px 51px;
  color: #373445;
  font-family: "Noto Sans JP";
  font-size: 26px;
  font-weight: 400;
  line-height: 49px;
  letter-spacing: 1.82px;
}
#lp-tadasu .anshin-content p span:nth-of-type(1) {
  letter-spacing: -8.06px;
}
#lp-tadasu .anshin-content p span:nth-of-type(2) {
  letter-spacing: -9.1px;
}
#lp-tadasu .anshin-content img:last-child {
  float: right;
  clear: both;
  margin-right: -32px;
}
#lp-tadasu .voice {
  background: linear-gradient(180deg, #E2E9E1 0%, #CFDAC1 100%);
}
#lp-tadasu .voice-container {
  padding-top: 237px;
  padding-bottom: 397px;
  position: relative;
  text-align: center;
}
#lp-tadasu .voice-container > img:first-child {
  margin-left: 30px;
  margin-bottom: 45px;
}
#lp-tadasu .voice-container > img:nth-of-type(2) {
  margin-bottom: 14px;
}
#lp-tadasu .voice-container > img:nth-of-type(3) {
  margin-left: 16px;
  margin-bottom: 36px;
}
#lp-tadasu .voice-container ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#lp-tadasu .voice-container .slick-dots {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -100px;
  display: inline-flex;
  align-items: center;
  gap: 0 30px;
}
#lp-tadasu .voice-container .slick-dots li {
  margin: 0;
}
#lp-tadasu .voice-container .slick-dots button {
  width: 19px;
  height: 19px;
  border-radius: 50%;
  font-size: 0;
  background-color: #9A98A0;
  cursor: pointer;
  border: none;
  outline: none;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
}
#lp-tadasu .voice-container .slick-dots .slick-active button {
  background-color: #417571;
}
#lp-tadasu .check-container {
  position: relative;
}
#lp-tadasu .check-container > img {
  display: block;
}
#lp-tadasu .check-container .check-content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
#lp-tadasu .check-container .check-content > img:first-child {
  margin-top: -156px;
  margin-left: 26px;
}
#lp-tadasu .check-container .check-content .check-box {
  text-align: right;
  padding-top: 355px;
  margin-bottom: 33px;
}
#lp-tadasu .check-container .check-content .check-box img:nth-of-type(2),
#lp-tadasu .check-container .check-content .check-box img:nth-of-type(3),
#lp-tadasu .check-container .check-content .check-box img:nth-of-type(4) {
  margin-top: -12px;
}
#lp-tadasu .check-container .check-content .cta-btn {
  display: flex;
  justify-content: center;
}
#lp-tadasu .token {
  background: linear-gradient(0deg, rgba(1, 1, 1, 0.15) 22.77%, rgba(138, 138, 138, 0) 43.55%), url(../images/token/bg.webp) lightgray 0px 0px/100% 148.298% no-repeat;
}
#lp-tadasu .token-container {
  position: relative;
  text-align: center;
}
#lp-tadasu .token-container .token-head {
  padding-top: 72px;
  padding-bottom: 268px;
  text-align: center;
  position: relative;
}
#lp-tadasu .token-container .token-head img {
  display: block;
}
#lp-tadasu .token-container .token-head img:first-child {
  position: absolute;
  top: 72px;
  left: calc(50% - 10px);
  transform: translateX(-50%);
}
#lp-tadasu .token-container .token-head img:nth-of-type(2) {
  position: absolute;
  left: 52px;
  bottom: 15px;
}
#lp-tadasu .token-container .token-head img:last-child {
  position: absolute;
  right: 47px;
  bottom: 12px;
}
#lp-tadasu .token-container > img:nth-of-type(1) {
  margin-right: 14px;
  margin-bottom: 56px;
}
#lp-tadasu .token-container > img:last-child {
  display: block;
  margin-top: -284px;
  position: relative;
  z-index: 1;
}
#lp-tadasu .token-container .token-simptoms {
  margin-bottom: 56px;
}
#lp-tadasu .token-container .token-simptoms img {
  display: block;
}
#lp-tadasu .token-container .token-gr-text {
  text-align: right;
  margin-right: 40px;
  position: relative;
  z-index: 2;
}
#lp-tadasu .token-container .token-gr-text img:first-child {
  margin-right: 10px;
  margin-bottom: 20px;
}
#lp-tadasu .cause-container {
  position: relative;
  z-index: 3;
}
#lp-tadasu .cause-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
#lp-tadasu .cause-content > img:first-child {
  margin-top: -36px;
  margin-left: 14px;
}
#lp-tadasu .cause-content > img:nth-of-type(2) {
  margin-bottom: 33px;
}
#lp-tadasu .cause-content > img:nth-of-type(3) {
  margin-bottom: 34px;
}
#lp-tadasu .cause-content .caution-karada {
  margin-bottom: 246px;
}
#lp-tadasu .cause-content .caution-karada img:first-child {
  position: absolute;
  top: calc(28% + 9px);
  left: 36%;
  transform: translate(-50%, -50%);
}
#lp-tadasu .cause-content .caution-karada img:last-child {
  margin-top: 46px;
  margin-left: 200px;
}
#lp-tadasu .card {
  margin-top: -83px;
}
#lp-tadasu .card-container {
  position: relative;
  z-index: 5;
}
#lp-tadasu .card-content {
  padding-top: 50px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
#lp-tadasu .card-content > img {
  margin-bottom: 24px;
}
#lp-tadasu .card-content .card-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
#lp-tadasu .card-content .card-item {
  position: relative;
}
#lp-tadasu .card-content .card-item img:first-child {
  margin-left: 16px;
}
#lp-tadasu .card-content .card-item img:nth-of-type(2) {
  position: absolute;
  left: 50%;
  top: 51.5%;
  transform: translate(-50%, -50%);
}
#lp-tadasu .card-content .card-item p {
  position: absolute;
  bottom: 83px;
  width: 564px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  text-align: left;
  color: #373445;
  font-family: "Noto Sans JP";
  font-size: 25px;
  font-weight: 400;
  line-height: 41px;
}
#lp-tadasu .ready {
  margin-top: -260px;
}
#lp-tadasu .ready-container {
  position: relative;
}
#lp-tadasu .ready-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
#lp-tadasu .ready-content img:first-child {
  margin-top: 38px;
}
#lp-tadasu .ready-content img:last-child {
  margin-top: -43px;
}
#lp-tadasu .about {
  margin-top: -94px;
  background: linear-gradient(162deg, #417571 17.5%, #CBCAA5 99.38%);
}
#lp-tadasu .about-container {
  position: relative;
  text-align: center;
  padding-bottom: 236px;
}
#lp-tadasu .about-container > img:first-child {
  margin-bottom: 49px;
}
#lp-tadasu .about-container img:nth-of-type(3) {
  margin-top: -22px;
  margin-left: 48px;
  margin-bottom: 53px;
  float: left;
  clear: both;
}
#lp-tadasu .flow {
  margin-top: -120px;
}
#lp-tadasu .flow-container img {
  display: block;
}
#lp-tadasu .flow-content {
  padding-top: 47px;
  padding-bottom: 75px;
  background-color: #FFFDEE;
}
#lp-tadasu .flow-content ul {
  position: relative;
  padding: 0;
  margin: 0 0 86px 43px;
  list-style: none;
}
#lp-tadasu .flow-content ul::after {
  position: absolute;
  content: "";
  background: url(../images/flow/flow.webp) no-repeat;
  width: 100%;
  height: 100%;
  left: 0;
  top: 77px;
}
#lp-tadasu .flow-content ul li {
  margin-bottom: 36px;
}
#lp-tadasu .flow-content .cta-btn img {
  margin-left: 17px;
}
#lp-tadasu .expert-container {
  position: relative;
}
#lp-tadasu .expert-container > img {
  display: block;
}
#lp-tadasu .expert-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: right;
}
#lp-tadasu .expert-content img:first-child {
  padding-top: 60px;
  margin-right: 64px;
}
#lp-tadasu .expert-content img:nth-of-type(2) {
  margin-top: -36px;
  margin-left: -13px;
}
#lp-tadasu .expert-content img:last-child {
  margin-top: -4px;
  margin-right: -10px;
}
#lp-tadasu .faq {
  margin-top: -154px;
  padding-bottom: 234px;
  background: #FFFCF6;
}
#lp-tadasu .faq-container {
  position: relative;
  z-index: 2;
  text-align: center;
}
#lp-tadasu .faq-container > img {
  padding-top: 17px;
}
#lp-tadasu .faq-main {
  margin-top: 93px;
  padding-left: 55px;
  padding-right: 64px;
}
#lp-tadasu .faq-main ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#lp-tadasu .faq-main ul li.faq-item {
  padding-top: 19px;
  padding-bottom: 41px;
  border-bottom: 1px solid #000;
}
#lp-tadasu .faq-main ul li.faq-item .faq-title {
  display: flex;
  align-items: flex-start;
  gap: 0 18px;
  cursor: pointer;
}
#lp-tadasu .faq-main ul li.faq-item .faq-title .faq-question {
  flex: 1;
}
#lp-tadasu .faq-main ul li.faq-item .faq-title .faq-question img {
  width: 100%;
}
#lp-tadasu .faq-main ul li.faq-item .faq-title .faq-plus {
  text-decoration: none;
  width: 58px;
  display: block;
  align-items: center;
}
#lp-tadasu .faq-main ul li.faq-item .faq-title .faq-plus.faq-add img {
  transition: 0.6s;
}
#lp-tadasu .faq-main ul li.faq-item .faq-title .faq-plus.faq-remove img {
  transition: 0.6s;
}
#lp-tadasu .faq-main ul li.faq-item .faq-content {
  display: none;
  padding-top: 16px;
}
#lp-tadasu .faq-main ul li.faq-item .faq-content ul li {
  padding: 10px 0;
  display: flex;
  align-items: flex-start;
  gap: 0 14px;
}
#lp-tadasu .footer {
  background: #FFFCF6;
  margin-top: -6px;
}
#lp-tadasu .footer-container {
  text-align: center;
}
#lp-tadasu .footer-container img:first-child {
  margin-bottom: 72px;
  display: flex;
  justify-content: flex-start;
}
#lp-tadasu .footer-container img:nth-child(2) {
  margin-bottom: 70px;
}
#lp-tadasu .footer-container .map {
  width: 641px;
  height: 374px;
  margin: 0 auto 44px auto;
}
#lp-tadasu .footer-container .map iframe {
  width: 100%;
  height: 100%;
}
#lp-tadasu .footer-container img:nth-of-type(3) {
  margin-bottom: 88px;
}

@media (max-width: 752px) {
  #lp-tadasu {
    max-width: 100vw;
  }
  #lp-tadasu .header-container {
    padding-bottom: 35.33vw;
  }
  #lp-tadasu .header-top {
    padding: 3.98vw 0.66vw 0 4.38vw;
    margin-bottom: 22.58vw;
  }
  #lp-tadasu .header-top .logo img {
    max-width: 31.076vw;
  }
  #lp-tadasu .header-top .header-btn img {
    margin-top: -0.8vw;
    max-width: 47.012vw;
  }
  #lp-tadasu .header-content > img {
    margin-left: -1.99vw;
    max-width: 98.008vw;
  }
  #lp-tadasu .header-content .cta-btn img {
    max-width: 95.485vw;
  }
  #lp-tadasu .point {
    margin-top: -28.55vw;
  }
  #lp-tadasu .point-top img:first-child {
    max-width: 100vw;
  }
  #lp-tadasu .point-top img:last-child {
    max-width: 58.3vw;
  }
  #lp-tadasu .point-content {
    padding-bottom: 39.84vw;
  }
  #lp-tadasu .point-content > img:first-child {
    margin-bottom: 7.17vw;
    max-width: 86.72vw;
  }
  #lp-tadasu .point-content ul li p {
    padding: 0 2.656vw;
    font-size: 3.19vw;
    line-height: 5.18vw;
    letter-spacing: 0.3vw;
  }
  #lp-tadasu .point-content ul li:first-child {
    margin-bottom: 8.76vw;
  }
  #lp-tadasu .point-content ul li:first-child .point-item-imgs {
    margin-bottom: 3.72vw;
  }
  #lp-tadasu .point-content ul li:first-child .point-item-imgs img:first-child {
    max-width: 78.486vw;
  }
  #lp-tadasu .point-content ul li:first-child .point-item-imgs img:nth-of-type(2) {
    left: 2.52vw;
    max-width: 23.639vw;
  }
  #lp-tadasu .point-content ul li:first-child .point-item-imgs img:nth-of-type(3) {
    max-width: 57.105vw;
    left: -4.52vw;
    bottom: 13.01vw;
  }
  #lp-tadasu .point-content ul li:first-child .point-item-imgs img:last-child {
    max-width: 83.665vw;
    left: -4.52vw;
    bottom: 2.12vw;
  }
  #lp-tadasu .point-content ul li:nth-of-type(2) {
    margin-bottom: 9.3vw;
  }
  #lp-tadasu .point-content ul li:nth-of-type(2) .point-item-imgs {
    margin-bottom: 1.86vw;
  }
  #lp-tadasu .point-content ul li:nth-of-type(2) .point-item-imgs img:first-child {
    max-width: 77.689vw;
  }
  #lp-tadasu .point-content ul li:nth-of-type(2) .point-item-imgs img:nth-of-type(2) {
    max-width: 23.639vw;
    right: 1.33vw;
  }
  #lp-tadasu .point-content ul li:nth-of-type(2) .point-item-imgs img:last-child {
    max-width: 83.533vw;
    right: -5.05vw;
    bottom: 19.52vw;
  }
  #lp-tadasu .point-content ul li:nth-of-type(2) p {
    letter-spacing: 0;
  }
  #lp-tadasu .point-content ul li:nth-of-type(3) {
    margin-bottom: 9.56vw;
  }
  #lp-tadasu .point-content ul li:nth-of-type(3) .point-item-imgs {
    margin-bottom: 3.45vw;
  }
  #lp-tadasu .point-content ul li:nth-of-type(3) .point-item-imgs img:first-child {
    max-width: 78.486vw;
  }
  #lp-tadasu .point-content ul li:nth-of-type(3) .point-item-imgs img:nth-of-type(2) {
    max-width: 23.639vw;
    left: 1.99vw;
  }
  #lp-tadasu .point-content ul li:nth-of-type(3) .point-item-imgs img:last-child {
    max-width: 92.961vw;
    left: -2.79vw;
    bottom: 3.59vw;
  }
  #lp-tadasu .point-content ul li:nth-of-type(4) .point-item-imgs {
    margin-bottom: 2.12vw;
  }
  #lp-tadasu .point-content ul li:nth-of-type(4) .point-item-imgs img:first-child {
    max-width: 77.689vw;
  }
  #lp-tadasu .point-content ul li:nth-of-type(4) .point-item-imgs img:nth-of-type(2) {
    max-width: 23.639vw;
    right: 1.33vw;
  }
  #lp-tadasu .point-content ul li:nth-of-type(4) .point-item-imgs img:last-child {
    max-width: 83.533vw;
    right: -5.05vw;
    bottom: 19.65vw;
  }
  #lp-tadasu .improve {
    margin-top: -23.9vw;
  }
  #lp-tadasu .improve-container > img {
    max-width: 100vw;
  }
  #lp-tadasu .improve-content img:first-child {
    padding-top: 12.22vw;
    margin-left: 6.24vw;
    max-width: 56.441vw;
  }
  #lp-tadasu .improve-content img:nth-of-type(2) {
    margin-left: 6.64vw;
    margin-top: -5.71vw;
    margin-bottom: 2.79vw;
    max-width: 75.83vw;
  }
  #lp-tadasu .improve-content img:nth-of-type(3) {
    max-width: 82.337vw;
  }
  #lp-tadasu .improve-content img:nth-of-type(4) {
    max-width: 82.337vw;
    margin-top: -27.49vw;
    margin-bottom: 3.98vw;
  }
  #lp-tadasu .improve-content p {
    margin: 0 5.84vw;
    font-size: 3.45vw;
    line-height: 6.51vw;
    letter-spacing: 0.207vw;
  }
  #lp-tadasu .improve-content p span {
    letter-spacing: -0.829vw;
  }
  #lp-tadasu .anshin {
    margin-top: -9.83vw;
  }
  #lp-tadasu .anshin-container > img {
    max-width: 100vw;
  }
  #lp-tadasu .anshin-content img:first-child {
    max-width: 36.653vw;
    padding-top: 17vw;
    margin-left: 5.58vw;
  }
  #lp-tadasu .anshin-content img:nth-of-type(2) {
    max-width: 57.503vw;
    margin-top: -7.57vw;
    margin-left: -3.45vw;
    margin-bottom: 2.66vw;
  }
  #lp-tadasu .anshin-content p {
    margin: 0 0 10.23vw 6.77vw;
    font-size: 3.45vw;
    line-height: 6.51vw;
    letter-spacing: 0.242vw;
  }
  #lp-tadasu .anshin-content p span:nth-of-type(1) {
    letter-spacing: -1.1vw;
  }
  #lp-tadasu .anshin-content p span:nth-of-type(2) {
    letter-spacing: -1.2vw;
  }
  #lp-tadasu .anshin-content img:last-child {
    max-width: 88.048vw;
    margin-right: -4.25vw;
  }
  #lp-tadasu .voice-container {
    padding-top: 31.47vw;
    padding-bottom: 52.72vw;
  }
  #lp-tadasu .voice-container > img:first-child {
    max-width: 78.22vw;
    margin-left: 3.98vw;
    margin-bottom: 5.98vw;
  }
  #lp-tadasu .voice-container > img:nth-of-type(2) {
    max-width: 82.603vw;
    margin-bottom: 1.86vw;
  }
  #lp-tadasu .voice-container > img:nth-of-type(3) {
    max-width: 61.487vw;
    margin-left: 2.12vw;
    margin-bottom: 4.78vw;
  }
  #lp-tadasu .voice-container ul li img {
    max-width: 61.487vw;
  }
  #lp-tadasu .voice-container .slick-dots {
    bottom: -13.28vw;
    gap: 0 3.98vw;
  }
  #lp-tadasu .voice-container .slick-dots button {
    width: 2.52vw;
    height: 2.52vw;
  }
  #lp-tadasu .check-container > img {
    max-width: 100vw;
  }
  #lp-tadasu .check-container .check-content > img:first-child {
    max-width: 95.618vw;
    margin-top: -20.72vw;
    margin-left: 3.45vw;
  }
  #lp-tadasu .check-container .check-content .check-box {
    padding-top: 47.14vw;
    margin-bottom: 4.38vw;
  }
  #lp-tadasu .check-container .check-content .check-box img:first-child {
    max-width: 79.947vw;
  }
  #lp-tadasu .check-container .check-content .check-box img:nth-of-type(2),
  #lp-tadasu .check-container .check-content .check-box img:nth-of-type(3),
  #lp-tadasu .check-container .check-content .check-box img:nth-of-type(4) {
    max-width: 79.947vw;
    margin-top: -1.59vw;
  }
  #lp-tadasu .check-container .check-content .cta-btn img {
    max-width: 95.485vw;
  }
  #lp-tadasu .token-container .token-head {
    padding-top: 9.56vw;
    padding-bottom: 35.59vw;
    text-align: center;
    position: relative;
  }
  #lp-tadasu .token-container .token-head img {
    display: block;
  }
  #lp-tadasu .token-container .token-head img:first-child {
    max-width: 40.505vw;
    top: 9.56vw;
    left: calc(50% - 1.33vw);
  }
  #lp-tadasu .token-container .token-head img:nth-of-type(2) {
    max-width: 32.537vw;
    left: 6.91vw;
    bottom: 1.99vw;
  }
  #lp-tadasu .token-container .token-head img:last-child {
    max-width: 35.724vw;
    right: 6.24vw;
    bottom: 1.59vw;
  }
  #lp-tadasu .token-container > img:nth-of-type(1) {
    max-width: 61.089vw;
    margin-right: 1.86vw;
    margin-bottom: 7.44vw;
  }
  #lp-tadasu .token-container > img:last-child {
    margin-top: -37.72vw;
    max-width: 100vw;
  }
  #lp-tadasu .token-container .token-simptoms {
    margin-bottom: 7.44vw;
  }
  #lp-tadasu .token-container .token-simptoms img {
    max-width: 100vw;
  }
  #lp-tadasu .token-container .token-gr-text {
    margin-right: 5.31vw;
  }
  #lp-tadasu .token-container .token-gr-text img:first-child {
    max-width: 78.486vw;
    margin-right: 1.33vw;
    margin-bottom: 2.66vw;
  }
  #lp-tadasu .token-container .token-gr-text img:last-child {
    max-width: 60.823vw;
  }
  #lp-tadasu .cause-container > img {
    max-width: 100vw;
  }
  #lp-tadasu .cause-content > img:first-child {
    max-width: 43.958vw;
    margin-top: -4.78vw;
    margin-left: 1.86vw;
  }
  #lp-tadasu .cause-content > img:nth-of-type(2) {
    max-width: 65.87vw;
    margin-bottom: 4.38vw;
  }
  #lp-tadasu .cause-content > img:nth-of-type(3) {
    max-width: 65.87vw;
    margin-bottom: 4.52vw;
  }
  #lp-tadasu .cause-content > img:last-child {
    max-width: 87.384vw;
  }
  #lp-tadasu .cause-content .caution-karada {
    margin-bottom: 32.67vw;
  }
  #lp-tadasu .cause-content .caution-karada img:first-child {
    max-width: 9.429vw;
    top: calc(28% + 1.2vw);
  }
  #lp-tadasu .cause-content .caution-karada img:last-child {
    max-width: 22.444vw;
    margin-top: 6.11vw;
    margin-left: 26.56vw;
  }
  #lp-tadasu .card {
    margin-top: -11.02vw;
  }
  #lp-tadasu .card-container > img {
    max-width: 100vw;
  }
  #lp-tadasu .card-content {
    padding-top: 6.64vw;
  }
  #lp-tadasu .card-content > img {
    margin-bottom: 3.19vw;
    max-width: 66.268vw;
  }
  #lp-tadasu .card-content .card-item img:first-child {
    max-width: 90.04vw;
    margin-left: 2.12vw;
  }
  #lp-tadasu .card-content .card-item img:nth-of-type(2) {
    max-width: 74.9vw;
  }
  #lp-tadasu .card-content .card-item p {
    bottom: 11.02vw;
    width: 74.9vw;
    font-size: 3.32vw;
    line-height: 5.44vw;
  }
  #lp-tadasu .ready {
    margin-top: -34.53vw;
  }
  #lp-tadasu .ready-container > img {
    max-width: 100vw;
  }
  #lp-tadasu .ready-content img:first-child {
    max-width: 27.623vw;
    margin-top: 5.05vw;
  }
  #lp-tadasu .ready-content img:last-child {
    max-width: 84.595vw;
    margin-top: -5.71vw;
  }
  #lp-tadasu .about {
    margin-top: -12.48vw;
  }
  #lp-tadasu .about-container {
    padding-bottom: 31.34vw;
  }
  #lp-tadasu .about-container img:first-child {
    margin-bottom: 6.51vw;
    max-width: 80.345vw;
  }
  #lp-tadasu .about-container img:nth-of-type(2) {
    max-width: 89.243vw;
  }
  #lp-tadasu .about-container img:nth-of-type(3) {
    margin-top: -2.92vw;
    margin-left: 6.37vw;
    margin-bottom: 7.04vw;
    max-width: 23.506vw;
  }
  #lp-tadasu .flow {
    margin-top: -21.78vw;
  }
  #lp-tadasu .flow-container img {
    max-width: 100vw;
  }
  #lp-tadasu .flow-content {
    padding-top: 6.24vw;
    padding-bottom: 9.96vw;
  }
  #lp-tadasu .flow-content ul {
    margin: 0 0 11.42vw 5.71vw;
  }
  #lp-tadasu .flow-content ul::after {
    top: 10.23vw;
  }
  #lp-tadasu .flow-content ul li {
    margin-bottom: 4.78vw;
  }
  #lp-tadasu .flow-content ul li img {
    max-width: 89.11vw;
  }
  #lp-tadasu .flow-content .cta-btn img {
    max-width: 95.485vw;
    margin-left: 2.26vw;
  }
  #lp-tadasu .expert-container > img {
    max-width: 100vw;
  }
  #lp-tadasu .expert-content img:first-child {
    max-width: 80.345vw;
    padding-top: 7.97vw;
    margin-right: 8.5vw;
  }
  #lp-tadasu .expert-content img:nth-of-type(2) {
    max-width: 157.371vw;
    margin-top: -4.78vw;
    margin-left: -1.73vw;
  }
  #lp-tadasu .expert-content img:last-child {
    max-width: 92.032vw;
    margin-top: -0.53vw;
    margin-right: -1.33vw;
  }
  #lp-tadasu .faq {
    margin-top: -17vw;
    padding-bottom: 31.08vw;
  }
  #lp-tadasu .faq-container > img {
    padding-top: 2.26vw;
    max-width: 100vw;
  }
  #lp-tadasu .faq-main {
    margin-top: 12.35vw;
    padding-left: 7.3vw;
    padding-right: 8.5vw;
  }
  #lp-tadasu .faq-main ul li.faq-item {
    padding-top: 2.52vw;
    padding-bottom: 5.44vw;
    border-bottom: 0.13vw solid #000;
  }
  #lp-tadasu .faq-main ul li.faq-item .faq-title {
    gap: 0 2.39vw;
  }
  #lp-tadasu .faq-main ul li.faq-item .faq-title img:first-child {
    max-width: 4.382vw;
  }
  #lp-tadasu .faq-main ul li.faq-item .faq-title .faq-question img {
    max-width: 67.331vw;
  }
  #lp-tadasu .faq-main ul li.faq-item .faq-title .faq-plus {
    text-decoration: none;
  }
  #lp-tadasu .faq-main ul li.faq-item .faq-title .faq-plus img {
    max-width: 5.046vw;
  }
  #lp-tadasu .faq-main ul li.faq-item .faq-title .faq-plus.faq-add img {
    transition: 0.6s;
  }
  #lp-tadasu .faq-main ul li.faq-item .faq-title .faq-plus.faq-remove img {
    transition: 0.6s;
  }
  #lp-tadasu .faq-main ul li.faq-item .faq-content {
    padding-top: 2.125vw;
  }
  #lp-tadasu .faq-main ul li.faq-item .faq-content ul li {
    padding: 1.33vw 0;
    gap: 0 1.86vw;
  }
  #lp-tadasu .faq-main ul li.faq-item .faq-content ul li img {
    max-width: 4.781vw;
  }
  #lp-tadasu .faq-main ul li.faq-item .faq-content ul li .faq-answer img {
    max-width: 73.971vw;
  }
  #lp-tadasu .footer-container img:first-child {
    margin-bottom: 9.56vw;
    max-width: 39.841vw;
  }
  #lp-tadasu .footer-container img:nth-child(2) {
    margin-bottom: 9.3vw;
    max-width: 85.126vw;
  }
  #lp-tadasu .footer-container .map {
    width: 85.13vw;
    height: 49.67vw;
    margin: 0 auto 5.84vw auto;
  }
  #lp-tadasu .footer-container .map iframe {
    width: 100%;
    height: 100%;
  }
  #lp-tadasu .footer-container img:nth-of-type(3) {
    margin-bottom: 11.687vw;
    max-width: 85.126vw;
  }
  #lp-tadasu .footer-container img:last-child {
    max-width: 32.802vw;
  }
}

/*# sourceMappingURL=lp-custom.css.map */
